@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181A20;
  box-sizing: border-box;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --black: #181A20;
  --darkgray: #2B2F38;
  --gray: #5E677C;
  --white: #ffffff;
  --main: #b119b6;
  --gradient: linear-gradient(180deg, #D248B4 21.67%, #AA46CD 100%);
}
